body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body>div {
  margin: 1em;
}

.scorecard {
  display: flex;
}

.frame {
  border: 1px solid black;
  width: 3em;
}

.frame .rolls {
  height: 1em;
}

#input button {
  margin: 0.2em;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: -150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}